.navigation {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 250%;
}

.navigation li {
    margin-bottom: 10px;
    margin-right: 5px;

    transition: all .2s ease-in-out; 
}

.navigation li:hover {
    transform:scale(1.05);
}

.active{
  /* color: red !important; */
  /* font-size: 50%; */
  transform: none !important;
}

.active a{
  /* color: #5a4141; */
  color: #ACFF9E;
}


/*
================================================ NEW MEDIA QUERY ================================================
*/

@media screen and (min-width: 1366px){
/*
==================================
NAVIGATION STYLES
==================================
*/
  .navigation {
    font-size: 250%;
  }
}

/*
================================================ NEW MEDIA QUERY ================================================
*/

/* text .9 of original */
@media screen and (max-width: 1366px){
/*
==================================
NAVIGATION STYLES
==================================
*/
  .navigation {
    font-size: 225%;
  }
}

/*
================================================ NEW MEDIA QUERY ================================================
*/

/* text .725 of original */
@media screen and (max-width: 1024px){
/*
==================================
NAVIGATION STYLES
==================================
*/
  .navigation {
    font-size: 181.25%;
  }
}

/*
================================================ NEW MEDIA QUERY ================================================
*/

/* text .525 of original */
@media screen and (max-width: 768px){
/*
==================================
NAVIGATION STYLES
==================================
*/
  .navigation {
    font-size: 131.25%;
  }
}

/*
================================================ NEW MEDIA QUERY ================================================
*/

/* text .5 of original */
@media screen and (max-width: 480px){
/*
==================================
NAVIGATION STYLES
==================================
*/
  .navigation {
    font-size: 125%;
  }
}