.projectContainer{
    border: 3px solid #63895A;
    border-radius: 2em;
    background-color: #4e614a;
    margin-top: 3%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

    color: white;
    transition: all .2s ease-in-out; 
}

.projectContainer:hover{
    transform: scale(1.1);
    background-color: #85a97c;
}

.projectContainer h1, .projectContainer p {
  display: inline-block;
}

.projectContainer h1{
    margin: 0;
    vertical-align: top;
    padding-right: 10%;
    color:white;
    /* font-size: 200%; */
}

.projectContainer p{
    margin: 0;
}

/*
================================================ 1st MEDIA QUERY ================================================
*/

@media screen and (min-width: 1366px){
    .projectContainer h1{
        font-size: 200%;
    }

    .projectContainer p{
        font-size: 150%;
    }
}

/*
================================================ 2nd MEDIA QUERY ================================================
*/

/* text .9 of original */
@media screen and (max-width: 1366px){
    .projectContainer h1{
        font-size: 180%;
    }

    .projectContainer p{
        font-size: 135%;
    }
}

/*
================================================ 3rd MEDIA QUERY ================================================
*/

/* text .725 of original */
@media screen and (max-width: 1024px){
    .projectContainer h1{
        font-size: 145%;
    }

    .projectContainer p{
        font-size: 108.75%;
    }
}

/*
================================================ 4th MEDIA QUERY ================================================
*/

/* text .525 of original */
@media screen and (max-width: 768px){
    .projectContainer h1{
        font-size: 105%;
    }

    .projectContainer p{
        font-size: 78.75%;
    }
}

/*
================================================ 5th MEDIA QUERY ================================================
*/

/* text .5 of original */
@media screen and (max-width: 480px){
    .projectContainer h1{
        font-size: 100%;
    }

    .projectContainer p{
        font-size: 75%;
    }
}

/*
================================================ 6th MEDIA QUERY ================================================
*/

/* text .4 of original */
@media screen and (max-width: 400px){
    .projectContainer h1{
        font-size: 80%;
    }

    .projectContainer p{
        font-size: 60%;
    }
}
